.redes{
display: flex;
justify-content: center;
margin-top: 6rem;


}

  .social-menu ul {
      display: flex;
      justify-content: baseline ;
margin: 0 2.5%;
  }
  .social-menu ul li {
      list-style: none;
      margin: 0 10px;
  }
  .social-menu ul li .fa {
      color: #000000;
      font-size: 25px;
      line-height: 50px;
      transition: .5s;
  }
  .social-menu ul li .fa:hover {
      color: #ffffff;
  }
  .social-menu ul li a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: hsl(303, 100%, 11%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      text-align: center;
      transition: 0.5s;
      transform: translate(0,0px);
      box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  .social-menu ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  img{
    position: relative;
    width: 35px;
    height: auto;
    top: 10px;
  }