/* Edición de la imagen */
img.logo{
  width: 10%;
  height: auto;
  border-radius: 5%;
  border: .1rem solid white;
  box-shadow: 0rem .1rem 2.5rem rgb(235, 228, 228) ;
  margin-top: 2rem;

}
.logo:hover{
 
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  



div{
  display: flex;
  justify-content: center;
}
.container{
  display: flex ;
  justify-content: center;
  align-content: center;
  color: #ffffff;
  text-align: center;
  text-align: justify;
  font-size: 90%;
  
  


}
#one {
  
  border: solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 50%;
  height: auto;
  border-radius: 15px;

  
  
  
}
p{
  padding: 6%;
  font-family: consolas;
  animation-duration: 5s;
  animation-name: slidein;


}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@media (max-with: 320px) {
  img.logo{
    width: 60%;
    height: auto;
    border-radius: 5%;
    border: .1rem solid white;
    box-shadow: 0rem .1rem 2.5rem rgb(235, 228, 228) ;
    margin-top: 2rem;
  
  }
}